<!DOCTYPE html>
<html>
    <head>
        <title>Årsprojekt Gruppe 4</title>
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <body>
        <table style="width:50%">
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>POINTS</th>
            </tr>
            {%for USERS in data%}
               <tr>
                 <td>{{USERS[0]}}</td>
                 <td>{{USERS[1]}}</td>
                 <td>{{USERS[2]}}</td>
                </tr>
            {%endfor%}
          </table>          
    </body>
</html>